{% extends "base.html" %}
{% from "macros.html" import add_support_sidebar with context %}
{% block content %}
    <div class="row justify-content-start">
        <div class="col-3">
            {{ add_support_sidebar() }}
        </div>
        <div class="col">
            <h1>Disclaimer</h1>

            <p>Last updated: June 08, 2020</p>


            <h1>Disclaimer</h1>
            <p> Vehicula ipsum a arcu cursus. Sollicitudin ac orci phasellus egestas. Ullamcorper malesuada proin libero
                nunc consequat. Gravida cum sociis natoque penatibus. Sed felis eget velit aliquet sagittis id. Viverra
                tellus in hac habitasse platea dictumst vestibulum. Purus semper eget duis at. Pretium quam vulputate
                dignissim suspendisse in est ante. Velit ut tortor pretium viverra. In dictum non consectetur a. Augue
                lacus viverra vitae congue eu consequat ac. Id leo in vitae turpis. Diam sit amet nisl suscipit
                adipiscing bibendum est ultricies integer. Tortor vitae purus faucibus ornare suspendisse sed nisi.
                Neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing. Semper viverra nam libero
                justo laoreet sit amet cursus. Pulvinar etiam non quam lacus.</p>
            <p>
                Venenatis a condimentum vitae sapien pellentesque. Nunc congue nisi vitae suscipit. Eu volutpat odio
                facilisis mauris sit amet massa vitae. Ornare suspendisse sed nisi lacus sed. Mus mauris vitae ultricies
                leo integer malesuada nunc vel risus. Vel eros donec ac odio. Sagittis eu volutpat odio facilisis mauris
                sit. Lacus sed turpis tincidunt id. Accumsan lacus vel facilisis volutpat est velit egestas dui.
                Ultrices tincidunt arcu non sodales neque sodales. Phasellus egestas tellus rutrum tellus pellentesque
                eu tincidunt. Eget arcu dictum varius duis. Curabitur gravida arcu ac tortor dignissim convallis aenean
                et. Feugiat sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Sed egestas egestas
                fringilla phasellus faucibus scelerisque eleifend donec pretium. Nunc sed velit dignissim sodales ut eu
                sem. Laoreet id donec ultrices tincidunt arcu non sodales. Duis tristique sollicitudin nibh sit. Tempus
                egestas sed sed risus pretium quam vulputate.</p>
        </div>
    </div>
{% endblock %}