{% extends "base.html" %}
{% from "macros.html" import add_support_sidebar with context %}
{% block content %}
    <div class="row justify-content-start">
        <div class="col-3">
            {{ add_support_sidebar() }}
        </div>
        <div class="col">

            <h1>Privacy Policy</h1>

            <p>Last updated: June 06, 2020</p>

            <p>This Privacy Policy describes ......</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Tortor pretium viverra suspendisse potenti nullam ac tortor. Sit amet est placerat
                in egestas erat imperdiet sed euismod. Lectus nulla at volutpat diam. Nulla facilisi etiam dignissim
                diam quis enim lobortis scelerisque. Iaculis eu non diam phasellus vestibulum. Pellentesque elit
                ullamcorper dignissim cras tincidunt. Non nisi est sit amet. Mi bibendum neque egestas congue quisque
                egestas diam in. Massa placerat duis ultricies lacus sed turpis tincidunt id. Consequat nisl vel pretium
                lectus. Volutpat sed cras ornare arcu dui vivamus arcu. Lobortis feugiat vivamus at augue eget arcu
                dictum. Lacinia quis vel eros donec ac odio. In nulla posuere sollicitudin aliquam ultrices sagittis
                orci a scelerisque. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Libero nunc
                consequat interdum varius sit amet. Turpis in eu mi bibendum.</p>
<p>
                Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Phasellus egestas tellus rutrum
                tellus pellentesque eu tincidunt tortor aliquam. Ac turpis egestas maecenas pharetra convallis posuere.
                Ac auctor augue mauris augue neque gravida in fermentum. Blandit turpis cursus in hac. Lectus magna
                fringilla urna porttitor rhoncus dolor purus non enim. Amet facilisis magna etiam tempor orci. Sit amet
                commodo nulla facilisi nullam vehicula ipsum a arcu. Tristique sollicitudin nibh sit amet commodo. Dui
                accumsan sit amet nulla facilisi. Leo duis ut diam quam nulla porttitor massa id neque. Diam vulputate
                ut pharetra sit amet aliquam. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.
                Sodales ut etiam sit amet nisl purus. Arcu felis bibendum ut tristique et egestas quis ipsum
                suspendisse. Lectus urna duis convallis convallis tellus id interdum. Risus viverra adipiscing at in
                tellus integer. Vel fringilla est ullamcorper eget nulla facilisi etiam. Facilisis leo vel fringilla est
                ullamcorper eget nulla facilisi.</p>
<p>
                In massa tempor nec feugiat nisl pretium fusce id. Ut faucibus pulvinar elementum integer enim. Amet
                massa vitae tortor condimentum. Ultrices dui sapien eget mi proin sed libero. Turpis massa tincidunt dui
                ut. Auctor neque vitae tempus quam pellentesque nec nam aliquam. Morbi non arcu risus quis varius quam.
                Placerat vestibulum lectus mauris ultrices eros in cursus turpis massa. Nulla pharetra diam sit amet
                nisl suscipit. Sit amet aliquam id diam maecenas ultricies mi eget.</p>


        </div>
    </div>
{% endblock %}